.block1 {
  border: 3px solid black;
  width: 50%;
}

.block2 {
  border: 3px solid yellow;
  width: 40%;

}

.block {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.space {
  display: inline;
  order: 3;
  width: 100%;

}